/*Page*/
$BGPagecolor: #df9f7e;
$BGDivColor: white;
$divWidth: 70%;
$divHeight: auto;
$divposition: absolute;
$divLeftMargin: 15%;
$pColor: black;

//Colors
$hColor: #9f4717;
$TextAlign: center;

//Brif
$briefWidth: 340px;
$briefColor: #f4cdab;

//Img
$imgLFloat: Left;
$imgRFloat: Right;
$imgBorderColor: #893c00;
$imgBorder: 2px solid $imgBorderColor;
$imgPadding: 3px;

//Table
$TablePadding: 10px 20px;
$bgColor: white;
$thColor: silver;

//Form
$nameWidth: 50%;
$areaWidth: 100%;
$formColor: #aba898;
$inputColor: #2d79f3;
$tArea: #aba898;

//a
$acolor: #375ff0;