/*Page*/
$BGPagecolor: #b7dff3;
$BGDivColor: #312d2c;
$divWidth: 70%;
$divHeight: auto;
$divposition: absolute;
$divLeftMargin: 15%;
$pColor: white;

//Colors
$hColor: #fae644;
$TextAlign: center;

//Brif
$briefWidth: 940px;
$briefColor: #facd44;

//Img
$imgLFloat: Left;
$imgRFloat: Right;
$imgBorderColor: #facd44;
$imgBorder: 2px solid $imgBorderColor;
$imgPadding: 3px;

//Table
$TablePadding: 10px 20px;
$bgColor: #7c8114;
$thColor: #81a528;

//Form
$nameWidth: 50%;
$areaWidth: 100%;
$formColor: #fae644;
$inputColor: #fae644;
$tArea: #aba898;

//a
$acolor: #facd44;